<footer class="footer" style="margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid;
  color: rgba(255,0,0,1)">
  <small>
    <a href="https://skobeltsyn.com/">Site</a>
    by Skobeltsyn studio
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path, :style=>"color:#F00;" %></li>
      <li><%= link_to "Contact", contact_path, :style=>"color:#F00;"%></li>
      <li><a, href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>
